---
http_interactions:
- request:
    method: get
    uri: https://jobs.github.com/positions/154147d8-1edb-11e3-891f-39433b6c880b.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Status:
      - 200 OK
    body:
      encoding: UTF-8
      string: |
        {"id":"154147d8-1edb-11e3-891f-39433b6c880b","created_at":"Thu Oct 17 16:45:10 UTC 2013","title":"Front End Web Developer","location":"London, UK","type":"Full Time","description":"<p>Potato has an ongoing need for talented full-time freelance developers, to work on interesting web projects.</p>\n\n<p>You&#39;ll be working at our office in London, United Kingdom, developing web tools and apps for huge audiences. Our clients include Google, YouTube, News International, PayPal and other agencies such as BBH and Mother.</p>\n\n<p>This role will see you working as part of a friendly, expert team. The workload will sometimes be hectic, but the atmosphere is cheerful and proactive. We want to put you in a position to write the best code that you can.</p>\n\n<p>We make progressively enhanced, standards-based web apps, so you&#39;ll need to be at home with HTML, CSS, JavaScript (particularly jQuery). You might know about Backbone.js. Extra points for user-centred thinkers.</p>\n\n<p>This is a full-time role starting ASAP.</p>\n\n<p>Required experience:</p>\n\n<ul>\n<li>HTML (including HTML5)</li>\n<li>CSS (including LESS / SASS)</li>\n<li>JavaScript (particularly jQuery)</li>\n<li>Version control (particularly git)</li>\n<li>Template engine such as Django or Smarty</li>\n<li>You must be comfortable using the command line</li>\n</ul>\n\n<p>Big pluses for experience with:</p>\n\n<ul>\n<li>JavaScript MVC frameworks, e.g. Backbone.js / AngularJS</li>\n<li>Building complex and/or one-page applications in JavaScript</li>\n<li>JavaScript unit testing tools</li>\n<li>[...]
