<% content_for :title do %>
  Editing job
<% end -%>
<% content_for :header do %>
  <h1>Editing job</h1>
<% end -%>

<%= render 'form' %>

<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
