<% content_for :title do %>
  Listing jobs
<% end -%>
<% content_for :header do %>
  <h1>
    Listing jobs
    <small><%= link_to 'New job', new_job_path %></small>
  </h1>
<% end -%>

<%= render 'jobs/new_from_url' %>

<ul class="jobs large-block-grid-3 small-block-grid-1">
  <%= render @jobs %>
</ul>
