<% content_for :title do %>
  Welcome to Job Seeker
<% end -%>
<% content_for :header do %>
  <h1>Welcome to Job Seeker</h1>
<% end -%>

<div class="panel">
  <p>In order to use this web application, you have to sign in.</p>
</div>
